<app-menu></app-menu>
<h1 class="text-danger">User Detail</h1>
<table *ngIf="user" class="table table-striped text-center">
 <tbody class="table table-responsive">
   <tr>
    <td class="font-weight-bold">Username</td>
    <td>{{user.username}}</td>
   </tr>
   <tr>
    <td class="font-weight-bold">Password</td>
    <td>{{user.password}}</td>
   </tr>
   <tr>
    <td class="font-weight-bold">Firstname</td>
    <td>{{user.firstname}}</td>
   </tr>
   <tr>
    <td class="font-weight-bold">Lastname</td>
    <td>{{user.lastname}}</td>
   </tr>
   <tr>
    <td class="font-weight-bold">Email</td>  
    <td>{{user.email}}</td>
   </tr>
   <tr>
    <td class="font-weight-bold">Phone</td>   
    <td>{{user.phone}}</td>
  </tr>
  <tr>
    <td class="font-weight-bold">Is Reviewer/Admin</td>
    <td>{{(user.isReviewer ? "Yes": "No")}} | {{(user.isAdmin ? "Yes" : "No")}}</td>
  </tr>
  <tr>
    <td class="font-weight-bold">Is Active</td>   
    <td>{{(user.isActive ? "Yes" : "No")}}</td> 
  </tr>
   

 </tbody>
</table>
<div *ngIf="isAdmin"><button (click)="setVerifyT()">DELETE</button></div>
<div><button *ngIf= "verify"(click)="delete()">VERIFY DELETE</button></div>
<div><button *ngIf= "verify"(click)="setVerifyF()">CANCEL</button></div> 

<div><a routerLink= "/user/list">Return to List</a></div>