<app-menu></app-menu>
<h1 class="text-danger">User Detail</h1>
<table *ngIf="user" class="table table-striped text-center">
 <thead class="font-weight-bold">
   <td>ID:</td>
   <td>Username</td>
   <td>Password</td>
   <td>Firstname</td>
   <td>Lastname</td>
   <td>Email</td>
   <td>Phone</td>
   <td>Is Reviewer/Admin</td>
   <td>Is Active</td>
 </thead>
 <tbody>
   <td>{{user.id}}</td>
   <td>{{user.username}}</td>
   <td>{{user.password}}</td>
   <td>{{user.firstname}}</td>
   <td>{{user.lastname}}</td>
   <td>{{user.email}}</td>
   <td>{{user.phone}}</td>
   <td>{{(user.isReviewer ? "Yes": "No")}} | {{(user.isAdmin ? "Yes" : "No")}}</td>
   <td>{{(user.isActive ? "Yes" : "No")}}</td> 
   

 </tbody>
</table>
<div><button (click)="setVerifyT()">DELETE</button></div>
<div><button *ngIf= "verify"(click)="delete()">VERIFY DELETE</button></div>
<div><button *ngIf= "verify"(click)="setVerifyF()">CANCEL</button></div> 

<div><a routerLink= "/user/list">Return to List</a></div>