<app-menu></app-menu>
<div><h1 class="text-danger">Product-List</h1>
<div><a routerLink="/product/create">Create</a></div>
<div><input [(ngModel)]="psearchCriteria" type="text"></div>
</div>
<table class="table table-striped text-center">
  <thead class="font-weight-bold">
    <td>Vendor</td>
    <td>Partnumber</td>
    <td>Name</td>
    <td>Price</td>
    <td>Unit</td>
    <td>Photopath</td>
    <td>IsActive</td>
    <td>Actions</td>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | psearch: psearchCriteria"> 
      <td>{{product.vendor.name}}</td>
      <td>{{product.partNumber}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency}}</td>
      <td>{{product.unit}}</td>
      <td>{{product.photoPath}}</td>
      <td>{{(product.isActive | booldisp )}}</td>
      <td>
        <a routerLink="/product/detail/{{product.id}}">Detail</a> |
        <a routerLink="/product/edit/{{product.id}}">Edit</a>
      </td>

    </tr>
  </tbody>
</table>