<app-menu></app-menu>
<h1 class="text-danger">Request Detail</h1>
<table *ngIf="request" class="table table-striped text-center">
 <thead class="font-weight-bold">
   <td>User</td>
   <td>Description</td>
   <td>Justification</td>
   <td>Rejection Reason</td>
   <td>Delivery Mode</td>
   <td>Submit Date</td>
   <td>Status</td>
   <td>Total</td>
 </thead>
 <tbody class="table-responsive">
    <tr><td class="font-weight-bold">User</td><td>{{request.user.username}}</td></tr>
    <tr><td class="font-weight-bold">Description</td><td>{{request.description}}</td></tr>
    <tr><td class="font-weight-bold">Justification</td><td>{{request.justification}}</td></tr>
    <tr><td class="font-weight-bold">Rejection Reason</td><td>{{request.rejectionReason}}</td></tr>
    <tr><td class="font-weight-bold">Delivery Mode</td><td>{{request.deliveryMode}}</td></tr>
    <tr><td class="font-weight-bold">Submit Date</td><td>{{request.submittedDate}}</td></tr>
    <tr><td class="font-weight-bold">Status</td><td>{{request.status}}</td></tr>
    <tr><td class="font-weight-bold">Total</td><td>{{request.total | currency}}</td></tr>
   </tbody>
</table>
<span *ngIf= "request">
<div [hidden]="user.id != request.userId"><button (click)="review()">REVIEW</button></div>
<div [hidden]="user.id != request.userId"><button (click)="setVerifyT()">DELETE</button></div>
<div><button *ngIf= "verify"(click)="delete()">VERIFY DELETE</button></div>
<div><button *ngIf= "verify"(click)="setVerifyF()">CANCEL</button></div> 
</span>
<div><a routerLink= "/request/list">Return to List</a></div>

