<app-menu></app-menu>
<table *ngIf="request">
  <tr>
    <td>
      User
    </td>
    <td>
      <select [(ngModel)]="request.userId">
        <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Description</td>
    <td>
      <input [(ngModel)]="request.description" type="text">
    </td>
  </tr>
  <tr>
    <td>
      Justification
    </td>
    <td>
      <input [(ngModel)]="request.justification" type="text">
    </td>
  </tr>
  <tr>
    <td>
      Rejection Reason
    </td>
    <td>
      <input [(ngModel)]="request.rejectionReason" type="text">
    </td>
  </tr>
  <tr>
    <td>
      Delivery Mode
    </td>
    <td>
      <input [(ngModel)]="request.deliveryMode" type="text">
    </td>
  </tr>
  <tr>
    <button (click)= "save()">Save</button>
  </tr>
</table>
